<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pakPOL : Criminal Records</title>

    <link rel="icon" href="/ICONS/police-handcuffs main favicon.png" type="image/x-icon">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>

    <%- include("../partials/navbar.ejs") %>

    <a href="/criminal/new" class="btn btn-danger" style="position: relative; left: 40%; top: 30px;">Click here to enter a New Record</a> 

    <div class="container">
      <h2 style="top: 65px; text-align: center; position: relative;"><u>All Criminal Records</u></h2>

      <div class="data">
        <% for(let x of criminal){ %>

        <a href="/criminal/<%= x.id %>"><img src="<%= x.Criminal_Image  %>" alt="" /></a>
        <p style="text-align: center;"><b><%= x.Criminal_Name %></b></p>




        <form
          action="/criminal/<%= x.id %>?_method=delete"
          method="post"
          style="display: inline-block"
        >
        </form>


        <hr />
      
        <% } %>

      </div> 
    </div>

    <script src="/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  </body>
</html>
